<section class="content">
    <section class="recommendedMovies">
        <h3>Filmes Recomendados</h3>
        <section class="movies">
            <section class="movie">
                @for (content of contents; track content) {}
            </section>
        </section>
    </section>
    <section class="recommendedSeries">
        <h3>Séries Recomendadas</h3>
        <section class="series">
            <section class="serie">
                <img src="" alt="">
            </section>
        </section>
    </section>
</section>