.content{
    background-color: #000;
    color: #fff;
    padding: 1rem;
    .recommendedMovies, .recommendedSeries{
        .movies, .series{
            display: grid;
            justify-content: center;
            gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }
        .movie, .serie{
            width: 180px;
            margin-bottom: 2rem;
            cursor: pointer;
        }
    }
    @media (max-width:1200px) {
        .recommendedMovies, .recommendedSeries{
            
            .movies, .series{
                background-color: aqua;
            }
        }
    }
}