<section class="content">
    <section class="searchContainer">
        <app-search-input></app-search-input>
    </section>
    <section class="recommendedMovies" id="recommendedMovies">
        <h3>Filmes Recomendados</h3>
        <section class="movies" id="movies">
            @for (movie of movies; track movie) {
                <section class="movie" (click)="openContentPage(movie.imdbID)">
                    <img src={{movie.Poster}} alt="Poster" width="180px" height="270px"/>
                </section>
            }
        </section>
    </section>
    <section class="recommendedSeries" id="recommendedSeries">
        <h3>Séries Recomendadas</h3>
        <section class="series">
            @for(serie of series; track serie){
                <section class="serie" (click)="openContentPage(serie.imdbID)">
                    <img src={{serie.Poster}} alt="Poster" width="180px" height="270px"/>
                </section>
            }
        </section>
    </section>
    <app-about-project></app-about-project>
</section>
<app-footer></app-footer>