<section class="content">
    <section class="searchContainer">
        <app-search-input></app-search-input>
    </section>
    <section class="recommendedMovies">
        <h3>Filmes Recomendados</h3>
        <section class="movies" id="movies">
            @for (movie of movies; track movie) {
                <section class="movie">
                    <a href="#"><img src={{movie.Poster}} alt="Poster" width="180px" height="270px"/></a>
                </section>
            }
        </section>
    </section>
    <section class="recommendedSeries" id="series">
        <h3>Séries Recomendadas</h3>
        <section class="series">
            @for(serie of series; track serie){
                <section class="serie">
                    <a href="#"><img src={{serie.Poster}} alt="Poster" width="180px" height="270px"/></a>
                </section>
            }
        </section>
    </section>
</section>