<!-- Section que contém Input de pesquisa -->
<section class="searchInput">
    <select class="selectType" name="type" [(ngModel)]="selectType">
        <option value="Filmes">Filme</option>
        <option value="Series">Série</option>
    </select>
    <input type="text" placeholder="Nome do filme/série" [(ngModel)]="inputSearch"/>
    <button (click)="searchContent()">Pesquisar</button>

</section>

<!-- Section que mostra resultado da pesquisa -->
<section class="searchOutPut">
    <section class="results" id="results">
        @if(selectType == "Filmes"){
            @for (movie of movies; track movie) {
                    <section class="movie" (click)="openContentPage(movie.imdbID)">
                        <img src={{movie.Poster}} alt="Poster" width="180px" height="270px"/>
                    </section>
            }
        }
        @else {
            @for(serie of series; track serie){
                    <section class="serie" (click)="openContentPage(serie.imdbID)">
                        <img src={{serie.Poster}} alt="Poster" width="180px" height="270px"/>
                    </section>
            }
        }
    </section>
</section>