nav{
    background-color: rgba(0, 0, 0, 0);
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .navTitle{
        color: rgb(255, 255, 255);
        font-size: large;
    }
    .navLinks{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 1rem 0 1rem;
                a{
                    color: #fff;
                }
                a:hover{
                    color: rgb(121, 121, 121);
                    transition: all 250ms;
                }
                a:not(:hover){
                    transition: all 250ms;
                }
            }
        }
    }
}