nav{
    background-color: rgba(0, 0, 0, 0);
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .navTitle{
        color: rgb(255, 255, 255);
        font-size: large;
    }
    .navLinks{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 1rem 0 1rem;
                a{
                    color: #fff;
                }
                a:hover{
                    color: rgb(121, 121, 121);
                    transition: all 250ms;
                }
                a:not(:hover){
                    transition: all 250ms;
                }
            }
        }
    }
    .mobileMenu{
        display: none;
        .menuIcon{
            button{
                border: none;
                color: #fff;
                background-color: rgba(0, 0, 0, 0);
                font-size: 20px;
            }
        }
        .menuLinks{
            position: absolute;
            left: 0;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.801);
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 11.5px;
            a{
                color: #fff;
                margin: 0.25rem 0 0.25rem 0;
            }
        }
    }
}
@media (max-width:550px) {
    nav{
        .navTitle{
            font-size: 15px;
        }
        .navLinks{
            font-size: 15px;
            display: none;
        }
        .mobileMenu{
            display: block;
        }
    }
}
@media (max-width:140px) {
    nav{
        flex-direction: column;
    }
}